<% include header%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>My Cart</h2>
            <a class="btn btn-md btn-primary button_right delete_all_cart">Delete All</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 md_top_margin">
        <% if(books.length > 0){ %>
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th class="hidden-xs hidden-sm">Picture</th>
                      <th>Title</th>
                      <th class="hidden-xs hidden-sm">Course Code</th>
                      <th class="hidden-xs hidden-sm">Condition</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < books.length; i++) {%>
                    <tr>
                        <td class="hidden-xs hidden-sm"><img class="bookhub_thumb_img" alt="" src="<%=books[i].image.data%>"></td>
                        <td><a href="/books/<%=books[i].bookId%>"><%=books[i].booktitle%></a></td>
                        <td class="hidden-xs hidden-sm"><%=books[i].courseCode%></td>
                        <td class="hidden-xs hidden-sm">
                            <% if(books[i].condition == 4){%>
                                New
                            <% } else if(books[i].condition == 3){%>
                                Good
                            <% } else if(books[i].condition == 2) {%>
                                Fair
                            <% } else {%>
                                Poor
                            <% } %>
                        </td>
                        <td><%=books[i].price%></td>
                        <td>
                            <a class="delete_cart" id="<%=books[i]._id%>" href="">delete</a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else { %>
            <p class="empty_msg">Your cart is empty</p>
        <% } %>
        </div>
    </div>
</div>
<script src="/js/my_cart.js"></script>
<% include footer%>
