<% include header%>
<div class="container">
<h2>My Listings</h2>
    <div class="row">
        <a href="/addbook" class="btn btn-md btn-primary button_right">add new book</a>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="pill" href="#active">Active</a></li>
            <li><a data-toggle="pill" href="#sold">Sold</a></li>
          </ul>
          <div class="tab-content">
            <div id="active" class="tab-pane fade in active">
              <div class="bookhub_listing_pannel">
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th>Picture</th>
                          <th>Title</th>
                          <th>Author</th>
                          <th>ISBN</th>
                          <th>Course Code</th>
                          <th>Condition</th>
                          <th>Price</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(books_avaliable) {%>
                            <% for (var i=0; i < books_avaliable.length; i++) {%>
                            <tr>
                                <td scope="row"><img src="<%=books_avaliable[i].image.data%>"></td>
                                <td><a href="/viewbook/<%=books_avaliable[i]._id%>"><%=books_avaliable[i].booktitle%></a></td>
                                <td><%=books_avaliable[i].author%></td>
                                <td><%=books_avaliable[i].ISBN%></td>
                                <td><%=books_avaliable[i].courseCode%></td>
                                <td><%=books_avaliable[i].condition%></td>
                                <td><%=books_avaliable[i].price%></td>
                                <td><a href="/updatebook/<%=books_avaliable[i]._id%>">edit</a></td>
                            </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
              </div>
            </div>

            <div id="sold" class="tab-pane fade">
              <div class="bookhub_listing_pannel">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>ISBN</th>
                            <th>Course Code</th>
                            <th>Condition</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(books_sold) {%>
                            <% for (var i=0; i < books_sold.length; i++) {%>
                            <tr>
                                <td scope="row"><img class="bookhub_thumb_img" src="<%=books_sold[i].image.data%>"></td>
                                <td><a href="/viewbook/<%=books_sold[i]._id%>"><%=books_sold[i].booktitle%></a></td>
                                <td><%=books_sold[i].author%></td>
                                <td><%=books_sold[i].ISBN%></td>
                                <td><%=books_sold[i].courseCode%></td>
                                <td><%=books_sold[i].condition%></td>
                                <td><%=books_sold[i].price%></td>
                                <td><a href="/updatebook/<%=books_sold[i]._id%>">edit</a></td>
                            </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
    </div>
</div>
<% include footer%>
