<% include header %>
<div class="fluid-container">
    <div class="result_search_wrapper">
    <form method="get" action="/search">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="search_keywords">Search</label>
            <input type="text" name="keywords" class="form-control" id="search_keywords" placeholder="Search book by title/ course code/ ISBN...">
        </div>

        <div class="form-group col-md-3">
            <label for="condition_filter">Condition</label>
            <select  class="form-control" name="condition" id="condition_filter">
                <option value="3">Better Than Good</option>
                <option value="2">Better Than Fair</option>
                <option value="1">Better Than Poor</option>
                <option value="0" selected>Everything</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="price_filter">Price</label>
            <select class="form-control" name="price" id="price_filter">
                <option value="20">$20 or less</option>
                <option value="40">$40 or less</option>
                <option value="60">$60 or less</option>
                <option value="80">$80 or less</option>
                <option value="100">$100 or less</option>
                <option value="0" selected>Unlimited</option>
            </select>
        </div>

        <div class="form-group col-md-2" >
            <button type="submit" class="form-control btn btn-default btn-md-margin">Submit</button>
        </div>
    </div>
    </form>
    </div>
</div>
<div class="container">
    <% for (var i=0; i < books.length; i++){ %>
    <div class="row bookhub_search_item_wrapper">
    <div class="col-md-3 col-sm-3 col-xs-3 bookhub_search_thumb_wrapper">
        <img class="bookhub_search_thumb" src="<%= books[i].image.data %>" alt="book_image">
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <a class="bookhub_search_title" href="/books/<%= books[i].bookId %>"><%= books[i].booktitle %></a>
                <br/>
                <span class="bookhub_search_isbn">ISBN:
                    <% if(books[i].ISBN){%>
                        <%= books[i].ISBN %>
                    <% }else{ %>
                        N/A
                    <% } %>
                </span>
                <p class="hidden-xs hidden-sm bookhub_search_description"><%= books[i].description %></p>
                <br/>
                <span class="bookhub_search_isbn">Posted on: <%= books[i].created_at %></span>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <p class="bookhub_search_price">$<%= books[i].price %></p>
            </div>
        </div>
    </div>
    </div>
    <% } %>
</div>
<% include footer %>
