<% include header%>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 col-xs-8">
                    <h2><%=book.booktitle%></h2>
                </div>
                <div class="col-md-3 col-xs-3">
                    <!--book image-->
                    <img class="img-responsive bookhub_thumb_large" src="<%=book.image.data%>" alt="book_img"/>
                </div>
                <div class="col-md-9">
                    <!--book content and discription-->
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Author</th>
                                        <td><%=book.author%></td>
                                    </tr>
                                    <tr>
                                        <th>ISBN</th>
                                        <td><%=book.ISBN%></td>
                                    </tr>
                                    <tr>
                                        <th>Course Code</th>
                                        <td><%=book.courseCode%></td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td>$ <%=book.price%></td>
                                    </tr>
                                    <tr>
                                        <th>Condition</th>
                                        <td>

                                            <% if (book.condition === 1) { %> Poor
                                            <% } else if ( book.condition === 2) { %> Fair
                                            <% } else if ( book.condition === 3) { %> Good
                                            <% } else { %> As New <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td><%=book.description%></td>
                                    </tr>
                                </tbody>
                            </table>

                </div>

            </div>
        </div>

        <div class="col-md-4">
            <h3>About Seller</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Username</th>
                        <td><a href="/users/<%=seller.userId%>"><%=seller.name%></a></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><%=seller.email%></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td><%=seller.phone%></td>
                    </tr>
                    <tr>
                        <th>Score</th>
                        <% if(isNaN(score)) {%>
                        <td>No score yet</td>
                        <% }else{ %>
                        <td><%= score %>/5</td>
                        <% } %>
                    </tr>
                </tbody>
            </table>
            <a href="mailto:<%=seller.email%>" class="btn btn-primary" target="_top" type="text/html">Contact Seller</a>
            <span class="bookhub_share_label">Share</span>
            <div id="share"></div>
        </div>
    </div>

</div>

<script src="/js/viewbook.js"></script>
<% include footer%>
